/* header */
body {
    font-size: 0.875rem;
    line-height: 1rem;
}

.container {
    
    max-width: 1150px;
    margin: 0 auto;
    background-color: #fff;
}

header {
    width: 1940px;
    min-height: 80px;
    padding: 10px 20px 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header ul {
    
    list-style: none;
    float: right;
    margin-bottom: 5px;
}

header ul li { 
    
    
    background-color: white;
    padding: 10px;   
    /* border-radius: 5px; */
    display: inline-block;
}

header ul li a {
    
    font-size: large;
    text-decoration: none;
    color: #0c0c0c;
    padding: 5px;
    margin: 0 10px;    
    width: 100px;
}
 /*  side bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }